.breadcrumb-container {
  margin: 16px 0px;
}

.breadcrumb-ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumb-li {
  display: inline;
  font-size: 14px;
  color: #999;

  &:after {
    content: ">";
    color: #999;
    margin: 0px 10px;
  }

  &:last-child {
    font-weight: 600;

    &:after {
      content: "";
      margin: 0px;
    }
  }
}
